<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
創建新使用者
<form action="/OrderingSystem/User/SignOn" method="get">
	職稱:<input name="userRoleId" value="1"/>(下拉選單，表：UserRole)<br/>
	姓名:<input type="text" name="name" value="王小明"/><br/>
	生日:<input type="text" name="birthday" value="2017/01/01"/><br/>
	身分證字號:<input type="text" name="idCard" value="A123456789"/><br/>
	電話:<input type="text" name="phone" value="0912345678"/><br/>
	地址:<input type="text" name="address" value="台灣"/><br/>
	<input type="submit" value="送出"/>
</form>
</body>
</html>