<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.finsage.web.member.mapper.MemberMapper">

	<resultMap id="Member" type="com.finsage.web.member.model.Member">
		<id property="id" column="Id"/>
		<result property="memberId" column="MEMBER_ID" />
		<result property="account" column="ACCOUNT" />
		<result property="password" column="PASSWORD" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateDate" column="UPDATE_DATE" />
	</resultMap>

	<insert id="createAccount">
		INSERT INTO
		member (MEMBER_ID,ACCOUNT,PASSWORD,CREATE_DATE,UPDATE_DATE)
		VALUES (#{memberId},#{account},#{password},NOW(),NOW())
	</insert>

	<select id="selectAccount" resultType="String">
		SELECT ACCOUNT
		FROM member
		WHERE ACCOUNT = #{account} AND STATUS = 1
	</select>
	
</mapper>