<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.finsage.web.user.mapper.UserMapper">
	<resultMap id="User" type="com.finsage.web.user.model.User">
		<id property="id" column="ID" />
		<result property="userId" column="USER_ID" />
		<result property="account" column="ACCOUNT" />
		<result property="password" column="PASSWORD" />
		<result property="status" column="STATUS" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateDate" column="UPDATE_DATE" />
	</resultMap>

	<insert id="save" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id" parameterType="com.finsage.web.user.model.User">
		INSERT INTO 
		USER(USER_ID, ACCOUNT, PASSWORD) 
		VALUES (#{userId}, #{account}, #{password})
	</insert>
	
	<select id="selectLastAccount" resultType="String">
		SELECT ACCOUNT
		FROM USER
		ORDER BY CREATE_DATE DESC
		LIMIT 1
	</select>
	
	<select id="selectByAccount" resultMap="User">
		SELECT *
		FROM USER
		WHERE ACCOUNT = #{account}
	</select>

	<!-- <update id="update"> -->
	<!-- update user set name = #{name} where id = #{id} -->
	<!-- </update> -->

	<!-- <delete id="delete"> -->
	<!-- delete from user where id = #{id} -->
	<!-- </delete> -->

	<!-- <select id="selectAll" resultMap="User"> -->
	<!-- select * from user -->
	<!-- </select> -->
	<!-- <select id="selectById" resultMap="User"> -->
	<!-- select * from user where id = -->
	<!-- #{id} -->
	<!-- </select> -->

	<!-- 動態標籤-實用 -->
	<!-- <select id="select1" resultMap="User"> -->
	<!-- select * from user where 1=1 -->
	<!-- <if test="name != null and name != ''"> -->
	<!-- and name = #{name} -->
	<!-- </if> -->
	<!-- <if test="email != null and email != ''"> -->
	<!-- and email = #{email} -->
	<!-- </if> -->
	<!-- select * from user -->
	<!-- <trim prefix="where" prefixOverrides="and|or"> -->
	<!-- <where> -->
	<!-- <if test="name != null and name != ''"> -->
	<!-- and name = #{name} -->
	<!-- </if> -->
	<!-- <if test="email != null and email != ''"> -->
	<!-- and email = #{email} -->
	<!-- </if> -->
	<!-- </where> -->
	<!-- </trim> -->
	<!-- </select> -->

	<!-- <update id="update2"> -->
	<!-- update user -->
	<!-- <trim prefix="set" prefixOverrides=","> -->
	<!-- <set> -->
	<!-- <if test="name != null and name != ''"> -->
	<!-- name = #{name}, -->
	<!-- </if> -->
	<!-- <if test="email != null and email != ''"> -->
	<!-- email = #{email}, -->
	<!-- </if> -->
	<!-- </set> -->
	<!-- </trim> -->
	<!-- where id = #{id} -->
	<!-- </update> -->

	<!-- <select id="select7" resultMap="User"> -->
	<!-- select * from user -->
	<!-- <where> -->
	<!-- 優先權，前面中了，後面就不會執行 -->
	<!-- <choose> -->
	<!-- <when test="name != null and name != ''"> -->
	<!-- and name = #{name} -->
	<!-- </when> -->
	<!-- <when test="email != null and email != ''"> -->
	<!-- and email = #{email} -->
	<!-- </when> -->
	<!-- <otherwise> -->

	<!-- </otherwise> -->
	<!-- </choose> -->
	<!-- </where> -->
	<!-- </select> -->

	<!-- <select id="select8" resultMap="User"> -->
	<!-- select * from user where id in -->
	<!-- <foreach collection="list" item="id" open="(" separator="," -->
	<!-- close=")"> -->
	<!-- #{id} -->
	<!-- </foreach> -->
	<!-- </select> -->

	<!-- <select id="selectRole" resultType="String"> -->
	<!-- select id from member_role where level = 0 -->
	<!-- </select> -->


</mapper>